@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
/* Layout */
.main {
  display: flex;
  padding: 2em;
  height: 90vh;
  justify-content: center;
  align-items: middle;
}

.clockbox,
#clock {
  width: 100%;
}

/* Clock styles */
.circle {
  fill: none;
  stroke: #000;
  stroke-width: 9;
  stroke-miterlimit: 10;
}

.mid-circle {
  fill: #000;
}
.hour-marks {
  fill: none;
  stroke: #000;
  stroke-width: 9;
  stroke-miterlimit: 10;
}

.hour-arm {
  fill: none;
  stroke: #000;
  stroke-width: 17;
  stroke-miterlimit: 10;
}

.minute-arm {
  fill: none;
  stroke: #000;
  stroke-width: 11;
  stroke-miterlimit: 10;
}

.second-arm {
  fill: none;
  stroke: rgb(224, 59, 59);
  stroke-width: 4;
  stroke-miterlimit: 10;
}

/* Transparent box ensuring arms center properly. */
.sizing-box {
  fill: none;
}

/* Make all arms rotate around the same center point. */
#hour,
#minute,
#second {
  transform-origin: 300px 300px;
  transition: transform 0.5s ease-in-out;
}

/* style de la deuxieme horloge */
.heure {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
}
.tourHeure {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* modification perso */
body {
  background: linear-gradient(145deg, #565656, #949494);
}
.heure p {
  margin-top: 0.3em;
  color: rgb(0, 0, 0);
  text-shadow: rgb(71, 71, 71) 1px 1px 1px;
}

.main {
  padding-top: 0;
}
