/* Layout */
.main {
  display: flex;
  padding: 2em;
  height: 90vh;
  justify-content: center;
  align-items: middle;
}

.clockbox,
#clock {
  width: 100%;
}

/* Clock styles */
.circle {
  fill: none;
  stroke: #000;
  stroke-width: 9;
  stroke-miterlimit: 10;
}

.mid-circle {
  fill: #000;
}
.hour-marks {
  fill: none;
  stroke: #000;
  stroke-width: 9;
  stroke-miterlimit: 10;
}

.hour-arm {
  fill: none;
  stroke: #000;
  stroke-width: 17;
  stroke-miterlimit: 10;
}

.minute-arm {
  fill: none;
  stroke: #000;
  stroke-width: 11;
  stroke-miterlimit: 10;
}

.second-arm {
  fill: none;
  stroke: #000;
  stroke-width: 4;
  stroke-miterlimit: 10;
}

/* Transparent box ensuring arms center properly. */
.sizing-box {
  fill: none;
}

/* Make all arms rotate around the same center point. */
#hour,
#minute,
#second {
  transform-origin: 300px 300px;
  transition: transform 0.5s ease-in-out;
}

/* style de la deuxieme horloge */
.heure {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
}

/* modification perso */
body {
  background: linear-gradient(145deg, #70834c, #859c5a);
}
.heure p {
  margin: 0 0 0 0;
  color: rgb(0, 0, 0);
  padding: 0.5em 0.5em 0.5em 0.5em;
  border-radius: 6px;
  background: linear-gradient(145deg, #70834c, #859c5a);
  box-shadow: 8px 8px 42px #72864d, -8px -8px 42px #869e5b;
}
